ghi0m_workspace/
giacomo_workspace/
fabio_workspace/
EpidemicBroadcast/src/epidemicbroadcast.exe
EpidemicBroadcast/simulations/results
EpidemicBroadcast/out/clang-release/src
EpidemicBroadcast/src/epidemicbroadcast.exe
EpidemicBroadcast/out/clang-debug/src
EpidemicBroadcast/simulations/General.anf
EpidemicBroadcast/src/epidemicbroadcast_dbg.exe
EpidemicBroadcast/.settings/language.settings.xml
.DS_Store
*.aux
*.log
*.bak
*.toc
*.gz
documentation/*.pdf
